
        <a class="list-group-item item clearfix" style="background-color: #808080; color: white;">
    <div class="form-group col-md-3">
            Vehicle Type
    </div>
    <div class="form-group col-md-3">
            Seating Capacity
    </div>
    <div class="form-group col-md-3">
            Available Cabs
    </div>
</a>

<a class="list-group-item item clearfix">
    <div class="form-group col-md-3">
            <img src="assets/img/mini.png" class="img-responsive" width="50" height="50" />

    </div>
    <div class="form-group col-md-3">
            <input type="text" placeholder="2">
    </div>
    <div class="form-group col-md-3">
            <input type="text">
    </div>
</a>
<a class="list-group-item item clearfix">
    <div class="form-group col-md-3">
            <img src="assets/img/sedan.png" class="img-responsive" width="50" height="50" />

    </div>
    <div class="form-group col-md-3">
            <input type="text" placeholder="4">
    </div>
    <div class="form-group col-md-3">
            <input type="text">
    </div>
</a>
<a class="list-group-item item clearfix">
    <div class="form-group col-md-3">
            <img src="assets/img/suv.png" class="img-responsive" width="50" height="50" />

    </div>
    <div class="form-group col-md-3">
            <input type="text" placeholder="6">
    </div>
    <div class="form-group col-md-3">
            <input type="text">
    </div>
</a>
<a class="list-group-item item clearfix">
    <div class="form-group col-md-3">
            <img src="assets/img/traveller.png" class="img-responsive" width="50" height="50" />

    </div>
    <div class="form-group col-md-3">
            <input type="text" placeholder="15">
    </div>
    <div class="form-group col-md-3">
            <input type="text">
    </div>
</a>
<a class="list-group-item item clearfix">
    <div class="form-group col-md-3">
            <img src="assets/img/bus.png" class="img-responsive" width="50" height="50" />

    </div>
    <div class="form-group col-md-3">
            <input type="text" placeholder="20">
    </div>
    <div class="form-group col-md-3">
            <input type="text">
    </div>
</a>
<div style="float: left; margin-top: 10px;">
    <div class="displayHeader clearfix"><button class="btn btn-danger">Reset Form</button>
            <button class="btn btn-success">Recalculate Routes</button></div>
</div>

