
.option1{
    border-bottom:1px solid #ddd;
}
.routesDiv{
    position: relative;
    top:40px;
    z-index:2;
  }




#rightMenu{
    position:absolute;
    right: 0;
    top: 0;
    padding: 0;
    width: 15%;
    background-color:#f0f4f5;
    height:100%;
    box-sizing:border-box;
}
#centerArea{
    position:absolute;
    left:5%;
    box-sizing:border-box;
    height:100%;
    width:95%;
}