
.option1{
    border-bottom:1px solid #ddd;
}
.routesDiv{
    position: relative;
    top:40px;
    z-index:2;
  }

  input[type=text] {
    width: 40px;
    display: block;
    margin-top: 10px;
    background-color: #F6F6F1;
    border: 2px solid #093912;
    border-radius: 4px;
    color: #021C02;
    text-align: center;
    
}

#rightMenu{
    position:absolute;
    right: 0;
    top: 0;
    padding: 0;
    width: 15%;
    background-color:#f0f4f5;
    height:100%;
    box-sizing:border-box;
}
#centerArea{
    position:absolute;
    left:5%;
    box-sizing:border-box;
    height:100%;
    width:95%;
}