.dropsView{
    text-align:center;
    border:1px solid grey;
    border-left:4px solid grey;
    position: absolute;
    width:100%;
    left:0;
    height:100%;
    margin:0; 
    top:0;
}
.panel{
    border: none;
    box-shadow:none;
    position: relative;
    top:120px;
    left:10%;
    width:80%;

}
.panel-heading{
    height:100px;
    position: relative;
}
.routeBar{
    position: relative;
    left:0;
}
.routeBar li{
    list-style-type:none;
    float:left;
    position: relative;
    text-align: center;
}
.routeBar li:hover{
    cursor:pointer;
}
.routeBar li:before{
    content:'';
    width:40px;
    height:40px;
    display:block;
    text-align: center;
    border:1px solid #ddd;
    margin:8px auto 8px auto;
    border-radius:50%;
    background-color: grey;
    line-height:40px;
}
.routeBar li:after{
    content:'';
    width:100%;
    height:5px;
    position:absolute;
    top:25px;
    left:-50%;
    z-index:1;
    background-color:grey;
    
}
.routeBar li:first-child:after{
    content:none;
}

.route_map{
    float:right;
    width:20px;
    height:20px;
    margin-right:10px;
    margin-top:5px;
}
.chevron{
    float:right;
    width:20px;
    height:20px;
    margin-right:10px;
    margin-top:5px;
}

